body {
  font-family: "Press Start 2P", cursive;
  background-color: #000;
  background-image: url("bg.jpg");
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
}

.quiz {
  background-color: #003;
  padding: 20px;
  border: 2px solid #e00;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
}

ul.options {
  list-style: none;
  padding: 0;
}

li.option {
  font-size: 18px;
  background-color: #00f;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

li.option:hover {
  background-color: #f00;
}

p.feedback {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
}

p.feedback .correct {
  color: green;
}

p.feedback .incorrect {
  color: red;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #fff;
  color: #f00;
}
